<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @link.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @link.short_url %>
</p>

<p>
  <strong>Http status:</strong>
  <%= @link.http_status %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
